.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    
  }
}

a {
  text-decoration: none;

}





/* ------------------------------------------------------------ */
#menu-icon {
  display: none;
  width: 35px;
  border-width: 0px;
  }
  #menu-icon img {
  width: 100%;
  display: block;
  padding-top: 5px;
  }
  #mobile-menu {
  display: none;
  }
  
  #mobile-menu {
  position: fixed;
  top: 0;
  right: -400px;
  background: #2a2929;
  padding: 10px;
  z-index: 2;
  bottom: 0;
  width: 105px;
  padding-top: 40px;
  transition: all 0.4s ease-in;
  border: none;
 

  }
  span.overlay {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
  display: none;
  }
  span.close {
  position: fixed;
  right: 285px;
  top: 40px;
  width: 32px;
  height: 32px;
  display: block;
  cursor: pointer;
  z-index: 2;
  display: none;
  }
  span.close img {
  display: block;
  width: 100%;
  }
  span.close.active {
  display: block;
  }
  #mobile-menu.active {
  right: 0;
  }
  span.overlay.active {
  display: block;
  }
  #mobile-menu ul li {
  margin-bottom: 20px;
  color: #fff;
  }
  
  #mobile-menu ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: block;
  }
  #mobile-menu ul li a.button {
  padding: 10px 35px;
  border: 1px solid #fff;
  border-radius: 4px;
  
}
  
  
  @media all and (max-width: 360px) {
  #menu-icon {
  display: block;
  }
  #mobile-menu{
  display: block;
  }
  #mobile-menu ul li a {
  display: none;
  }
  #mobile-menu ul li a.button {
  display: block;
  }
  }

  .hover {
     transition: transform 250ms;
  }
  .hover:hover {
    transform: translateY(-10px);
  }


  

/* ------------------------------------------------------------ */
